@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import "borderColorAnimation.css";

.button-container {
    padding: 2em;
    border: 6px double;
    border-radius: 20px;
    animation: 3s ease-in-out infinite border-color-animation;
}

.button-container .bootstrap-button {
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
}

.bootstrap-profile-container {
    margin-top: 2em;
    max-width: 20em;
}

.bootstrap-profile-container * {
    font-family: 'Raleway', sans-serif;
}

/*
.button-container .button {
    border: none;
    border-radius: 10px;
    background: crimson;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    outline: 0;
}

.button-container .button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #580718;
}

.profile-container {
    margin-top: 2em;
    padding: 2em;
    border: 1px dotted;
    border-radius: 20px;
    animation: 3s ease-in-out infinite border-color-animation;
}

.profile-container * {
    padding: 0;
    margin: 0;
    line-height: 2;
    font-family: 'Raleway', sans-serif;
}

.profile-container img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 100%;
}
*/